html,
body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

.header-logo__title {
    color: #e50914;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0.8em 0 0.3em;
    text-transform: uppercase;
}

body {
   background-image: url(public/logo/bg.jpeg);
}

.title,
.nav-item {
    font-family: bebas Neue;
    letter-spacing: 0.2rem;
}

.h-md-300 {
    height: 300px;
}

.movie__poster {
    background-position: center;
    background-size: cover;
}

.movie__poster img {
    width: 100%;
    /* height: 300px;
    object-fit: cover;
    object-position: top; */
}

.movie__favorite {
    position: absolute;
    top: 0;
    right: 0;
}

.form-md {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bg-oflix {
    background-color: #fecc00;
}

.link_search {
    list-style-type: square;
}

.link_search-item,
.character-link {
    color: black;
    text-decoration: none;
}
